<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../../templates/template.xhtml" 
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="tituloPagina">
        - Marisqueria Viejo Bolo -SABOR COSTERO EN EL PALADAR
        - A tu alcance
    </ui:define>

    <ui:define name="contenido">
        <h:form id="formA" prependId="false">
            <p:growl id="menGen"/>
            
         

            <p:panelGrid columns="2" style=" border">
                <p:panelGrid columns="1">
                    <p:panelGrid columns="2">
                        <p:outputLabel value="DESCRIPCION"/>
                        <p:inputText value="#{marisqueriaBean.marisqueria.descripcion}"/>
                        <p:outputLabel value="PRECIO"/>
                        <p:inputText value="#{marisqueriaBean.marisqueria.precio}"/>
                        <p:outputLabel value="TIPO MARISCO"/>
                        <p:selectOneMenu value="#{marisqueriaBean.marisqueria.tipomarisco}"
                                         converter="selectItemsConverter">
                            <f:selectItem itemLabel="Seleccione Tipo Marisco..*"
                                          itemValue=""/>
                            <f:selectItems value="#{marisqueriaBean.listaTipoMarisco}"
                                           var="tipoMar"
                                           itemLabel="#{tipoMar.descripcion}"
                                           itemValue="#{tipoMar}">
                            </f:selectItems>
                        </p:selectOneMenu>
                        <p:outputLabel value="ESTADO"/>
                        <p:selectOneMenu value="#{marisqueriaBean.marisqueria.estado}">
                            <f:selectItem itemLabel="Seleciones Estado.*."/>
                            <f:selectItem itemLabel="Activo" itemValue="1"/>
                            <f:selectItem itemLabel="Inactivo" itemValue="0"/>
                        </p:selectOneMenu>
                        <p:commandButton value="NUEVO" 
                                         icon="pi pi-plus"
                                         process="@this"
                                         action="#{marisqueriaBean.nuevoMarisco()}"
                                         update="tablaMarisc"/>
                        <p:commandButton value="GUARDAR" 
                                         icon="pi pi-check"
                                         actionListener="#{marisqueriaBean.guardar()}"
                                         update="tablaMarisc"/>
                            
                    </p:panelGrid>
                </p:panelGrid>

                <p:panelGrid columns="1">
                    <p:outputPanel>
                        <p:dataTable id="tablaMarisc"
                                     value="#{marisqueriaBean.listaMarisqueria}"
                                     var="marisc"
                                     selectionMode="single"
                                     paginator="true"
                                     paginatorPosition="bottom"
                                     rows="6"
                                     rowKey="#{marisc.idMarisqueria}">
                            <p:column headerText="ID">
                                <h:outputText value="#{marisc.idMarisqueria}"/>
                            </p:column>
                            <p:column headerText="DESCRIPCION">
                                <h:outputText value="#{marisc.descripcion}"/>
                            </p:column>
                            <p:column headerText="PRECIO">
                                <h:outputText value="#{marisc.precio}"/>
                            </p:column>
                            <p:column headerText="TIPO MARISCO">
                                <h:outputText value="#{marisc.tipomarisco.descripcion}"/>
                            </p:column>
                            <p:column headerText="ESTADO">
                                <h:outputText rendered="#{marisc.estado=='1'}" value="Activo"/>
                                <h:outputText rendered="#{marisc.estado=='0'}" value="Inactivo"/>
                            </p:column>



                        </p:dataTable>
                    </p:outputPanel>
                </p:panelGrid>
            </p:panelGrid>


        </h:form>
    </ui:define>
</ui:composition>
