<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="../../templates/template.xhtml" 
                xmlns:p="http://primefaces.org/ui">


    <ui:define name="tituloPagina">
        - Producto
    </ui:define>

    <ui:define name="contenido">
        <h:form id="formA" prependId="false">
            <p:growl id="menGen"/>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="SI" type="button" 
                                 styleClass="ui-button-raised ui-confirmdialog-yes" 
                                 icon="pi pi-check"/>
                <p:commandButton value="NO" type="button" 
                                 styleClass="ui-button-raised ui-confirmdialog-no ui-button-secondary" 
                                 icon="pi pi-times" />   
            </p:confirmDialog>

            <p:toolbar>
                <p:toolbarGroup>
                    <p:commandButton value="Nuevo" 
                                     icon="pi pi-github" 
                                     process="@this"
                                     action="#{productoBean.nuevo()}"
                                     update="panDialog"/>
                </p:toolbarGroup>
            </p:toolbar>

            <p:outputPanel id="panDialog">
                <p:dialog header="Crear / Editar Cliente"
                          modal="true"
                          closable="false"
                          visible="#{productoBean.visible}"
                          resizable="false">
                    <p:panelGrid columns="2">
                        <p:outputLabel value="DESCRIPCION"/>
                        <p:inputText value="#{productoBean.producto.descripcion}"/>
                        <p:outputLabel value="PRECIO"/>
                        <p:inputText value="#{productoBean.producto.precio}"/>
                        <p:outputLabel value="TIPO"/>
                        <p:selectOneMenu value="#{productoBean.producto.tipoproducto}"
                                         converter="selectItemsConverter"
                                         filter="true">
                            <f:selectItem itemLabel="Seleccione Tipo Prodcuto...." 
                                          itemValue=""/>
                            <f:selectItems value="#{productoBean.listaTipoProducto}"
                                           var="tipPro"
                                           itemLabel="#{tipPro.descripcion}"
                                           itemValue="#{tipPro}">
                            </f:selectItems>
                        </p:selectOneMenu>
                        <p:outputLabel value="ESTADO"/>
                        <p:selectOneMenu value="#{productoBean.producto.estado}">
                            <f:selectItem itemLabel="Seleccione Estado..." itemValue=""/>
                            <f:selectItem itemLabel="Activo" itemValue="1"/>
                            <f:selectItem itemLabel="Inactivo" itemValue="0"/>
                        </p:selectOneMenu>
                        <p:commandButton value="Guardar" 
                                         icon="pi pi-check" 
                                         actionListener="#{productoBean.guardar()}" 
                                         update="panDialog tablaProd">
                            <p:confirm header="ATENCION" 
                                       message="¿ DESEA GUARDAR LA INFORMACION ? " 
                                       icon="pi pi-file"/>
                        </p:commandButton>

                        <p:commandButton value="Regresar" 
                                         icon="pi pi-backward"
                                         actionListener="#{productoBean.regresar()}" 
                                         update="panDialog"/>
                    </p:panelGrid>
                </p:dialog>
            </p:outputPanel>


            <p:outputPanel>
                <p:dataTable id="tablaProd" 
                             value="#{productoBean.listaProducto}" 
                             var="prod" 
                             paginator="true" 
                             paginatorPosition="bottom" 
                             rows="10">
                    <p:column headerText="ID">
                        <h:outputText value="#{prod.idProducto}" />
                    </p:column>

                    <p:column headerText="DESCRIPCION" 
                              filterBy="#{prod.descripcion}">
                        <h:outputText value="#{prod.descripcion}" />
                    </p:column>

                    <p:column headerText="PRECIO">
                        <h:outputText value="#{prod.precio}"/>
                    </p:column>

                    <p:column headerText="TIPO PRODUCTO">
                        <h:outputText value="#{prod.tipoproducto.descripcion}"/>
                    </p:column>

                    <p:column headerText="ESTADO">
                        <h:outputText rendered="#{prod.estado == '1'}" value="Activosss" />
                        <h:outputText rendered="#{prod.estado == '0'}" value="Inactivosss" />
                    </p:column>

                    <p:column headerText="ACCIONES">
                        <p:commandButton icon="pi pi-pencil" 
                                         styleClass="edit-button rounded-button ui-button-success"
                                         process="@this"
                                         action="#{productoBean.verItem(prod)}" 
                                         update="panDialog"/>
                        <p:commandButton icon="pi pi-trash" 
                                         class="rounded-button ui-button-warning"
                                         process="@this"
                                         action="#{productoBean.eliminar(prod)}"
                                         update="tablaProd">
                            <p:confirm header="ATENCION" 
                                       message="ESTA SEGURO QUE DESEA ELIMINAR EL REGISTRO ???"
                                       icon="pi pi-exclamation-triangle"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
        </h:form>
    </ui:define> 
</ui:composition>